@*@using Microsoft.AspNetCore.Authentication*@
@{
    ViewData["Title"] = "Home Page";
}

<h2>Claims Returned</h2>
<table id="claims">
    <tr>
        <th>Claim Type</th>
        <th>Claim Value</th>
    </tr>

    @foreach (var claim in User.Claims)
    {
        <tr>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
</table>

